*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --font-primary: Georgia, 'Times New Roman', serif;
  --font-secondary: Arial, Helvetica, sans-serif;

	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}


.page {
  min-width: 1280px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

